.rsEducationItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}

.item {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 auto;
    background: linear-gradient(135deg, #05aea3 20%, #238516 70%, #006861);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    padding: 0.3em 0.6em ;
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, #01a69b 20%, #2f700a 70%, #006d64);
    border-image-slice: 1;
}

