.titleContainer {
  display: flex;
  align-items: center;
  gap: 20%;
}

.link {
  background: linear-gradient(45deg, rgb(76, 0, 138) 33%, #0D61BC 66%, #5100a3);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0B2349;
  display: table;
}

.link:hover {
  text-decoration: underline;
}

@media (max-width: 425px) {
  .titleContainer {
    gap: 8%;
  }
}