.socialContainer {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (max-width: 768px) {
    .socialContainer {
        width: 100%;
    }
    
    header .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  

    header .listItem {
        border-radius: 10px;
    }

    footer .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }  

    footer .listItem {
        width: 50%;
    }

    .listItem div {
        padding: 10px 5px;
    }
}

@media (max-width: 425px) {
    header .listItem {
        width: 48%;
        margin: 1px;
        background: linear-gradient(#e6ffeae2 0 0) padding-box, linear-gradient(315.75deg, rgba(139, 201, 121, 0.74) 30.06%, rgba(133, 204, 189, 0.66) 50.74%, #82b0c4 80.49%, #7199ae 127.9%, #767ab9 149.54%) border-box;
        border: 0.5px solid transparent;
        display: inline-block;
    }

    .listItem div {
        padding: 2px;
    }
}

