.header {
    padding: 0 0 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .header {
        padding: 0;
        flex-direction: column-reverse;
    }
}

.mainInfoContainer {
    padding: 2% 5%;
}

@media (max-width: 768px) {
    .mainInfoContainer {
        padding: 2% 2%;
    }
}

footer {
    display: flex;
    justify-content: end;

    background: linear-gradient(135deg, rgb(15, 99, 70)10%, rgb(36, 50, 70)90%) ;
    color:lightcyan;
}

@media (max-width: 768px) {
    footer {
        justify-content: center;
    }
}